@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&display=swap');

.App {
  background: -webkit-linear-gradient(to bottom right, #ceedf3, #fff7f7, #cfd7f8);
  background: linear-gradient(to bottom right, #ceedf3, #fff7f7, #cfd7f8);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.header {
  margin: 30vh 0 5vh 0;
}

.buttons {
  width: 70%;
}

.title {
  font-family: 'Satisfy';
  font-style: italic;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 3vh;
}

.description {
  font-family: 'Jaldi';
  font-style: italic;
  font-size: 30px;
}

.welcome {
  font-family: 'Jaldi';
  font-style: italic;
  font-size: 35px;
  font-weight: 700;
}

.date {
  font-family: 'Noto Sans', sans-serif;
  font-size: 45px;
}

@media (max-width: 576px) {
  .title {
    font-family: 'Satisfy';
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
  }

  .description {
    font-family: 'Jaldi';
    font-style: italic;
    font-size: 20px;
  }
}